* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --prim: #f16832;
    --secund: 
}

.header {
    width: 100%;
    height: 5rem;
    background-color: #232323;
    border: 2px dashed var(--prim);
}

.container_header {
    max-width: 60rem;
    height: 100%;
    margin: 0 auto;
}

.logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    float: left;
}