
/* definindo como funcionará o header */

header {      
    background: url(../img/img_header.jpg); /* colocando imagem de fundo */
    display: grid;   /* display grid permite a formatação correta do header */
    background-position: center;    /* posição da imagem ao centro */
    background-repeat: no-repeat;   /* não repete a imagem */
    background-size: cover;     /* a imagem cobre meu espaço */
    height: 80vh;      /* vh é uma unidade de medida que define a altura visivel do meu site */
    border-bottom: 4px solid var(--yellow);     /* definindo borda de baixo do header */
    box-shadow: 1px 1px black;    
}

/* <--- ESTILIZANDO MENU HAMBUERGUER ---> */
#menu {
    width: 35px;  
    height: 30px;
    margin: 7px 7px 18px 6px;
    padding-top: 10px;
    cursor: pointer;
}

/* <--- ESTILIZANDO AS BARRAS MENU HAMBUERGUER ---> */

.bar {
    height: 5px;
    width: 100%;    /* A WIDTH 100% GARANTE QUE MINHA BARRA OCUPARÁ A LARGURA DE 100% DA DIV DA QUAL ELE ESTÁ INSERIDO */
    margin-bottom: 5px;
    background-color:var(--yellow);
    display: block;     /* DISPLAY BLOCK FAZ COM QUE MINHAS BARRAS FIQUEM ORDENADAS EM BLOCOS, OU SEJA, UM EMBAIXO DO OUTRO */
    border-radius: 5px;
    transition: 0.3s ease;      /* TRANSITION GARANTE O EFEITO DE TRANSIÇÃO AO SER INICIADO A ANIMAÇÃO DO MENU HAMBURGUER */
    border: 0.2px solid black;
}

#bar1 {     /* AO SER INICIADO MINHA ANIMAÇÃO, A BARRA 1 IRÁ SE DESLOCAR -4PX NO EIXO Y, INCLINANDO MINHA BARRA */
    transform: translateY(-4px);   
}

#bar3 {     /* AO SER INICIADO MINHA ANIMAÇÃO, A BARRA 3 IRÁ SE DESLOCAR 4PX NO EIXO Y, INCLINANDO MINHA BARRA PARA CIMA */
    transform: translateY(4px);
}

li {
    list-style: none;
    display: inline;    /*O DISPLAY INLINE FAZ COM QUE MEUS ELEMENTOS DENTRO DA MINHA TAG DE LISTA FIQUEM ALINHADOS */
    margin: 1.5rem;
}

.nav li a {     /* ESTILIZANDO A DECORAÇÃO DAS MINHAS ÂNCORAS */
    text-decoration: none;
    color: var(--prim);
    margin: 30px;
    transition: 0.5ms ease-in-out;
}

.nav li a:hover{     /* O HOVER É O ATRIBUTO QUE ESTILIZA MINHA TAG AO SER PASSADO O CURSOR POR CIMA */
    font-weight: bold;      /* NO CASO, DEIXANDO MINHA FONTE EM NEGRITO AO PASSAR O CURSOR */
}

.nav {      /* ESTILIZANDO A TAG NAV, QUE É BASICAMENTE A TAG QUE ENGLOBA TODA MINHA LISTA DE NAVEGAÇÃO DO HEADER */
    padding: 0;
    height: 2.5em;
    width: 65vw;
    padding: 18px 0 0 0;
    margin: 0 0 0 15px;
    display: none;      /* display ficará none até que o comando seja inicializado */
    background-color: var(--fourth);
    border-radius: 8px;
}

.menu-bg, #menu-bar {
    position: absolute;
    display: inline-flex;
    margin: 2rem 0 0 12rem;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 0 0 20px 20px;
    border-radius: 50%;
    transition: 0.3s ease;
}

#menu-bar {
    z-index: 2;
}

.change-bg {
    width: 550px;
    height: 540px;
    transform: translate(-60%, -30%); 
}

.change .bar {
    background-color: var(--bg_color);
} 

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
    transform: translateY(-6px) rotate(45deg);
}

.change #bar2 {
    opacity: 0;
}

.change {
    display: block;
}

.frase_efeito {
    text-align: center;
    font-weight: bold;
    max-width: 80vw;
    margin: 28vh auto;
    color: var(--yellow);
    font-size: larger;
    text-shadow: 2px 1px 2px black;
}

.frase_efeito :hover {
    transform: translateY(-5px);
}