
.caixa-dedicatorias {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.foto-dedicatorias {
    height: 90vh;  
    background-color: var(--second);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); 
    transition: 900ms ease-in-out;
    
}

.foto-dedicatorias:hover {
    transform: translateY(-10px);
    -webkit-filter: none;
    filter: none;
}

.img-dedicatorias {
    width: 30vw;
    border-radius: 15px;
    box-shadow: 1px 1px 2px 1px solid #232332;
    margin: 5vh 2vw;
}

.img-dedicatorias-amigos {
    width: 25vw;
    border-radius: 15px;
    box-shadow: 1px 1px 2px 1px solid #232332;
    margin: 9vh 2vw;
}

.img-dedicatorias-faculdade {
    width: 1fr;
    border-radius: 15px;
    box-shadow: 1px 1px 2px 1px solid #232332;
    background-position: center;
    align-items: center;
    margin: 28vh 1vw;
}

.titulo-dedicatorias {
    margin: 0 0 0 42.5vw;
    font-size: 50px;
    color: var(--blue);
}

.btn-dedicatoria {
    height: 6vh;
    width: 15vw;
    border-radius: 10px;
    transition: 900ms ease;
    cursor: pointer;
    margin: 0 0 5vh 43vw;
}

.btn-dedicatoria:hover {
    background-color: var(--blue);
    color: var(--prim);
}
