body, html{
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(../img/login-walpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 

a {
    text-decoration: none;
    color: var(--yellow);
}

.box-login {
    height: 85vh;
    width: 35vw;
    box-shadow: 1px 2px 1px #232323;
    background-color: var(--fourth);
    border-radius: 10px;
    margin: 5vh auto;
}

.div-login {
    height: 100%;
    width: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 7rem 4rem 0.6rem);
}

.div-login img {
    width: 220px;
    margin: 0 auto;
}

h1 {
    font-family: 'UnifrakturCook';
    color: var(--yellow);
}

.inp-login {
    height: 35px;
    width: 350px;
    margin: 0 auto;
    background-color: var(--fourth);
    border: none;
    padding: 5px;
    color: white;   
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 0 none; 
}

.inp-senha {
    height: 35px;
    width: 350px;
    margin: -53px auto;
    background-color: var(--fourth);
    border: none;
    padding: 5px;
    color: white; 
}

span {
    color: white;
    z-index: 99;
    margin: 0 15rem 0 0;
    
}

.img {-webkit-filter: grayscale(100%),}

.btn-entrar {
    margin: 0 auto;
    height: 40px;
    width: 80px;
    transition: 0.4ms ease-in-out;
    cursor: pointer;
}

.btn-entrar :hover {
    background-color: var(--fifth);
}