.modal a {
    font-weight: bold;
    color: var(--yellow);
    text-decoration: none;
}

.box-cadastro {
    box-shadow: 1px 1px 2px 1px black;
    border-radius: 10px;
    padding: 10px;
    height: 70vh;
    width: 50vw;
    background-color: var(--second);
    margin: 15vh auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 25vw);
    grid-template-rows: 10vh 12vh 18vh 10vh 15vh;
    align-items: center;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 400ms ease-in;
    background: var(--bg_modal);
    opacity: 0;
    pointer-events: none;
    text-align: center;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal h2 {
    display: inline-block;
    width: 50vw;
    color: var(--third);
    text-shadow: 1px 1px 2px white;
    margin-top: 2vh;
}

.fechar {
    right: -15px;
    top: -20px;
    line-height: 30px;
    width: 30px;
    position: absolute;
    text-align: center;
    margin-top: 5px;
    border-radius: 50%;
    font-size: 16px;
    background-color: var(--prim);
    color: var(--yellow);
}

.div1-modal {
    height: 50vh;
    width: 50vw;
    margin: 25vh auto;
    background-color: var(--second);
    position: relative;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
    border-radius: 8px;
    padding: 15px;
}

.img-low-modal {
    height: 50vh;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 1px black;
}

.img-low-modal2 {
    width: 30vw;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 1px black;
}

.modal input {
    height: 30px;
    width: 160px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

#result {
    overflow-y: scroll; 
    height: 80px;
    border: 2px solid #232323;
    border-radius: 5px;
}

.span-cadastrado {
    width: 400px;
    display: block;
}

.btn-cad {
    height: 30px;
    width: 120px;
    background-color: var(--third);
    border-radius: 10px;
    color: white;
    margin: 0 auto;
    cursor: pointer;
}

.btn-fn-cad {
    height: 30px;
    width: 200px;
    background-color: var(--third);
    border-radius: 10px;
    color: white;
    margin: 0 auto;
    cursor: pointer;
}
