.rodape {
    background-color: var(--yellow);
    height: 64vh;
}

.container-rodape {
    max-width: 1080px;
    margin: 0 auto;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem
}

.leads {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    margin: 20px auto;
    width: max-content;
}

.container-pag > div :hover {
    transform: translateY(-5px);
}

.cadastro-leads {
    background-color: transparent;
    border: 1px solid black;
    color: white;
    width: 200px;
    height: 40px;
}

.cadastro-leads option {
    color: var(--yellow);
}

::placeholder {
    color: white;
    background-color: transparent;
    padding: 0 5px;
}

textarea {
    padding: 5px;
}

.cadastro-leads :hover {
    background-color: black;
}

.mensagem-leads {
    background-color: transparent;
    border: 1px solid black;
    color: white;
    width: 435px;
    height: 180px;
}

.perguntas {
    margin-top: 2rem;
    background-color: transparent;
    width: 550px;
    height: 300px;
}

.perguntas p {
    color: black;
}

.perguntas h1 {
    color: var(--fifth);
}

.btn-enviar {
    width: 90px;
    height: 40px;
    margin-top: 15px;
    cursor: pointer;
}

.btn-enviar :hover {
    transform: translateY(-5px);
}

.errado {
    border: 1px solid red;
    background-color: white;
}

.check {
    height: 5px;
}

.icone {
    position: relative;
}

.footer {
    background-color: var(--third);
    text-align: center;
    color: white;
    height: 60px;
    padding-top: 30px;
}

.maps{
    width: 500px;
    height: 200px;
}

.cads {
    display: grid;
    grid-template-columns: repeat(2, 210px);
    grid-template-rows: repeat(2, 50px);
}