
.footer {
    background-color: var(--third);
    text-align: center;
    color: white;
    height: 60px;
    padding-top: 30px;
}

.footer a {
    text-decoration: none;
    list-style: none;
    color: var(--yellow);
}